<% include partials/header.ejs %>
<div class="container">
    <% if (message) { %>
        <p class="text-center text-danger"><%= message %></p>
    <% } %>
   
    <% if (scheda) { 
        //   idscheda, ksarticolo, ksfornitore, tipo, datainizio, datafine
        %>
        <form class="add-scheda-form" action="" method="post" enctype="multipart/form-data">
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label for="idscheda-name">First Name</label>
                    <input type="text" class="form-control" name="idscheda" id="idscheda-name" value="<%= scheda.idscheda %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="ksarticolo">ksarticolo</label>
                    <input type="text" class="form-control" name="ksarticolo" id="ksarticolo" value="<%= scheda.ksarticolo %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="tipo">ksarticolo</label>
                    <input type="text" class="form-control" name="tipo" id="tipo" value="<%= scheda.tipo %>" required>
                </div>
                <div class="form-group col-md-4">
                    <label for="ksfornitore">ksfornitore</label>
                    <input type="text" class="form-control" name="ksfornitore" id="ksfornitore" value="<%= scheda.ksfornitore %>" required disabled title="Username can't be changed">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="number">Number</label>
                    <input type="number" class="form-control" name="number" id="number" placeholder="Number" value="<%= scheda.number %>" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="position">Position</label>
                    <select id="position" name="position" class="form-control" required>
                        <option selected><%= scheda.position %></option>
                        <option>Goalkeeper</option>
                        <option>Centre Back</option>
                        <option>Right Back</option>
                        <option>Left Back</option>
                        <option>Defensive Midfielder</option>
                        <option>Central Midfielder</option>
                        <option>Attacking Midfielder</option>
                        <option>Right Wing Forward</option>
                        <option>Left Wing Forward</option>
                        <option>Striker</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-success float-right">Update Scheda</button>
        </form>
    <% } else { %>
        <p class="text-center">Player Not Found. Go <a href="/add">here</a> to add schedas.</p>
    <% } %>
</div>
</div>
</body>
</html>